* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: #333;
  padding: 40px 20px;

  margin: 0 auto;
}
header {
  text-align: center;
  margin: 0 auto;
}
h1 {
  font-size: 2.4rem;
  margin-bottom: 20px;
}
p {
  font-size: 1.1rem;
}

main {
  display: flex;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
  gap: 80px;
}
div {
width: 50%;
height: auto;
background-color: rgb(220, 220, 220);
border: 3px solid black;
border-radius: 5px;
padding: 5px;
}
.sec1 {
  width: 80%;
  height: auto;
  background-color: olive;
  border: 3px solid black;
  border-radius: 5px; 
  margin: 30px auto;
  padding: 5px;
}
.sec2 {
  width: 80%;
  height: auto;
  background-color: olive;
  border: 3px solid black;
  border-radius: 5px; 
  margin: 30px auto;
  opacity: 0;
  transform: rotate(45deg) scale(2);
  padding: 5px;
}

.sec3 {
  width: 80%;
  height: auto;
  background-color: olive;
  border: 3px solid black;
  border-radius: 5px; 
  margin: 30px auto;
padding: 5px;
}
.sec4 {
    width: 80%;
  height: auto;
  background-color: olive;
  border: 3px solid black;
  border-radius: 5px; 
  margin: 30px auto;
padding: 5px; 

}
.sec5 {
    width: 80%;
  height: auto;
  background-color: olive;
  border: 3px solid black;
  border-radius: 5px; 
  margin: 30px auto;
padding: 5px; 

}


